body {
  margin: 0px;
}

.container {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  margin: 0px 0px
}

.logo {
  display: flex;
  flex-grow: 2;
  align-items: center;
  flex-basis: 200px
}

.navigation {
  display: inline-block;
  flex-grow: 1;
}

.navigation a {
  color: black;
  padding: 0px 10px;
}

.logo p {
  color: MediumAquamarine;
}

.bodyCont {
  display: flex;
  justify-content: space-between;
}

.bodyCont h6 {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  height: 300px;
}

.bodyCont p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.column {
  display: flex;
  flex-direction: column;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px
}

.column.small {
  width: 240px;
}

.stories {
  display: flex;
  justify-content: space-between;
}

.stories div {
  width: 300px;
}

.mother h6 {
  background-image: url(../images/img-story-main.png);
  display: flex;
}

.orca h6 {
  background-image: url(../images/img-story-2.png);
  display: flex;
}

.burger h6 {
  background-image: url(../images/img-story-3.png);
  display: flex;
}

.cats h6 {
  background-image: url(../images/img-story-1.png);
  display: flex;
}

.news {
  display: flex;
  flex-direction: column;
}

.news h2 {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.news span {
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  padding: 10px;
  border-bottom: 1px solid black;
}
